@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(12, 10, 56);
  font-family: 'Raleway', sans-serif;
  color: white;
  line-height: 1.6;
  font-size: 16px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

header {
  display: grid;
  grid-template-columns: auto 1fr max-content;
  align-items: center;
  gap: 1rem;
  background-color: #0c0a38;
  padding: 1rem;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

#add-task {
  height: 70px;
  width: 220px;
  border: none;
  border-radius: 50px;
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

#add-task:hover {
  background-color: rgb(220, 218, 218);
  color: #0c0a38;
}

#add-task:active {
  height: 65px;
  width: 215px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 15px 0;
  z-index: 1000;
  font-size: 0.95rem;
  background-color: #0c0a38;
}

footer a {
  color: #00bfff;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s ease;
}

footer a:hover {
  color: #fff;
  text-decoration: underline;
}
